<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date Table</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
<div class="date-table">
    <div class="date-table__body body">
        <div class="body__head">
            <div class="body__title">
                <h3>Отделения Новой Почты</h3>
            </div>
        </div>
        <div class="body__main">
            <div id="app">
            <div class="body__table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Название отделения</th>
                        <th>Город</th>
                        <th>Номер отделения</th>
                    </tr>
                    <tr v-for="postOffice in postOffices.slice(start,end)">
                        <td>{{postOffice.ref}}</td>
                        <td>{{postOffice.name}}</td>
                        <td>{{postOffice.city}}</td>
                        <td>{{postOffice.number}}</td>
                    </tr>
                </table>

            </div>

        <div class="body__foot">
            <div class="body__limit">
                <select v-model.number="limit" v-on:click="Limit()" >
                    <option v-for="i in 100">{{i}}</option>
                </select>
            </div>
            <div class="body__page-table" >
                <a href="#" class="body__link" v-if="hasFirst()" @click="nextPage(1)">1</a>
                <a href="#" class="ellipsis" v-if="hasFirst()" @click="nextPage(1)">...</a>
                <a href="#" :class="{current : current == page}" class="body__link" v-for="page in pages" @click="nextPage(page)" >{{page}}</a>
                <a href="#" class="ellipsis" v-if="hasLast()" @click="nextPage(totalPage)">...</a>
                <a href="#" class="body__link" v-if="hasLast()" @click="nextPage(totalPage)">{{totalPage}}</a>
            </div>
        </div></div>
    </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="script.js"></script>
</body>
</html>